azure-identity
azure-storage-blob
azure-keyvault-secrets
pandas
pyodbc
paramiko
pytz
selenium
beautifulsoup4
fastapi
pydantic
uvicorn
openai
numpy
openpyxl
webdriver-manager
psycopg2-binary
requests
pdfplumber
lxml