pydantic>=2,<3
psycopg[binary]
python-dotenv
zeep
sqlalchemy>=2,<3
fastapi
uvicorn[standard]
requests>=2.32,<3
PyJWT[crypto]>=2.10,<3
azure-identity>=1.25,<2
azure-keyvault-keys>=4.10,<5
python-dotenv>=1.1,<2
pandas>=2.2,<3